extends layout

block content

  .container-fluid

    h1=title
    br
    br

    .container-fluid

      form.form-horizontal(role='form' method='post' action='#' autocomplete='on')


        label.col-sm-3.control-label(for='emfir') First Name
        .col-sm-3    
          input#emfir.form-control(type='text' name='emfir' value=emfir required)

        br

        label.col-sm-3.control-label(for='emsur') Surname
        .col-sm-3 
          input#emsur.form-control(type='text' name='emsur' value=emsur required)

        br

        .form-group
          label.col-sm-3.control-label(for='emid') Telephone Number
          .col-sm-3
            .fs-width30
              input#tel.form-control(type='number' min="0" max="99999999999" name='emtel' value=emtel required)

          br

          label.col-sm-3.control-label(for='emdob') Date of Birth
          .col-sm-3
            .fs-width50        
              input#emdob.form-control(type='date' name='emdob' value=emdob required)
        br
        br

        .form-group 
          .col-sm-10  
          .col-sm-2 
            .text-right
              input#submit.form-control.btn.btn-success(name='submit' type='submit' value='Add Record') 
        br
        br




